.ease{
  transition: all 300ms ease;
}

$red: #ff4242;

html{}

body{
  background: #1c1c1c;
  color: #fff;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}

button{
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}