
@import 'theme';

.btn-clear-tasks{
  color: $red;
}

.btn-add-task{
  background: #fff;
}

.task-form{
  display: none;

  &.active{
    display: block;
  }
}

ul.task-list{
  background: #444;
  padding: 30px;

  li.task{
    @extend .ease;
    background: #2a3a47;
    padding: 10px 20px;
    cursor: default;

    div.name{
      display: inline-block;
      padding: 10px;
    }

    div.deadline{
      display: inline-block;
      padding: 10px;
    }

    .btn-remove{
      @extend .ease;
      opacity: 0;
    }

    &:hover{
      background: #000000;

      .btn-remove{
        color: $red;
        opacity: 1;
      }
    }
  }
}