
$red: #ff4242;

.ease{
  transition: all 300ms ease;
}

.btn-clear-tasks{
  color: $red;
}

.btn-add-task{
  background: #fff;
}

.task-form{
  display: none;

  &.active{
    display: block;
  }
}

ul.task-list{
  width: 100%;
  max-width: 700px;
  background: #444;
  padding: 20px;

  li.task{
    @extend .ease;
    list-style: none;
    background: #2a3a47;
    padding: 0 20px;
    margin: 3px 0;
    cursor: default;

    div.name{
      display: inline-block;
      padding: 10px;
    }

    div.deadline{
      display: inline-block;
      padding: 10px;
    }

    .btn-remove{
      background: none;
      @extend .ease;
      opacity: 0;
    }

    &:hover{
      background: #000000;

      .btn-remove{
        color: $red;
        opacity: 1;
      }
    }
  }
}