
$red: #ff4242;

.ease{
  transition: all 300ms ease;
}

.btn-clear-tasks{
  color: $red;
}

.btn-add-task{
  background: #fff;
}

.task-form{
  display: none;

  &.active{
    display: block;
  }

}

ul.task-list{
  width: 100%;
  max-width: 700px;
  background: #444;
  padding: 20px;

  li.task{
    @extend .ease;
    list-style: none;
    background: #2a3a47;
    padding: 10px 20px;
    margin: 3px 0;
    cursor: default;


    .priority{
      display: inline-block;
      border: solid 1px #fff;
      width: 12px;
      height: 12px;
      border-radius: 100px;
      margin-right: 10px;

      &.priority-1{background: #17d624}
      &.priority-2{background: #189faf}
      &.priority-3{background: #ded700}
      &.priority-4{background: #dd6e00}
      &.priority-5{background: #e53e3b}
    }

    .details{
      display: inline-block;

      div.name{
        display: inline-block;
      }

      div.deadline{
        display: inline-block;
        margin-left: 10px;
        background: #00564b;
        padding: 3px 12px;
        font-size: 12px;
      }

      .btn-remove{
        background: none;
        @extend .ease;
        opacity: 0;
      }
    }

    &:hover{
      background: #141414;

      .btn-remove{
        color: $red;
        opacity: 1;
      }
    }
  }
}