*{
  box-sizing: border-box;
}

html{}

body{
  background: #1d1d1d;
  color: #fff;
}

div{
  font-size: 16px;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}

button{
  cursor: pointer;
  border: none;
  background: #fff;
  outline: none;
}


.priority-colors{

  input{
    display: none;

    &:checked{
      &+label{
        border: solid 2px #f3faff;
      }
    }
  }

  label{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100px;
    border: solid 2px rgba(0,0,0,0);

    &[for=priority_1]{
      background: #17d624;
    }
    &[for=priority_2]{
      background: #189faf;
    }
    &[for=priority_3]{
      background: #ded700;
    }
    &[for=priority_4]{
      background: #dd6e00;
    }
    &[for=priority_5]{
      background: #e53e3b;
    }
  }

}